[Unit]
Description=Check for system updates every 6 hours

[Timer]
OnBootSec=30min
OnActiveSec=20s
OnUnitActiveSec=6h
Persistent=true

[Install]
WantedBy=timers.target
